.Printable {
    display: none;
}

@media print {
    .Regular {
        display: none;
    }

    .Printable {
        display: initial;
    }

    header {
        display: none !important;
    }

    .content {
        margin-top: initial !important;
        padding: initial !important;
    }
    
    footer {
        display: none;
    }

    .groceryTableCell {
        padding: 0px !important;
    }

    .groceryTableRow {
        height: initial !important;
    }

    .drawerDocked {
        display: none;
    }

    .mainPanel {
        width: 100% !important;
    }

    html, body {
        height: 100%;
    }

    .groceryTableHead {
        font-size: 14pt;
    }
}